.input-category {
    margin-left: 20px;
    margin-top: 20px;
    width: 600px;
    display: flex;
}

.dashboard {
    border: solid;
    margin: 80px;
}

.btn-category{
    width: 150px;
    margin-left: 20px;
    margin-top: 10px;
    height: 40px;
}